fieldset {
	display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

span {
	position: relative;
}

input[type='radio'] {
	display: none;
}

input:checked + span:after {
	position: absolute;
	content: 'V';
	width: 17px;
	height: 17px;
	top: 0;
}

.fuck {
	background: red;
}

.luck {
	background: green;
}

.btn{
  margin: 10px;
  padding: 5px;
  border:1px solid;
  border-radius: 10px;
}
